<!-- ////////////// FOOTER ////////////// -->
footer
	.container
		.row
			.col-6.col-md
				p.luong01 
					a FULLSTACKVIETNAM
				.row
					.col-6.col-md
				ul.list-unstyled.text-small
					li
						a(href="#") Cool stuff
					li
						a(href="#") Random feature
					li
						a(href="#") Team feature
					li
						a(href="#") Stuff for develop.luong01ers
					li
						a(href="#") Another one
					li
						a(href="#") Last time
			.col-6.col-md
				p.luong01 
					a FULLSTACKVIETNAM
				.row
					.col-6.col-md
				ul.list-unstyled.text-small
					li
						a(href="#") Resource
					li
						a(href="#") Resource name
					li
						a(href="#") Another resource
					li
						a(href="#") Final resource
			.col-6.col-md.luong
				p.luong01 
					a 
				.row
					.col-6.col-md
				ul.list-unstyled.text-small
					li.luong02
						a(href="#") Locations
					li
						a(href="#") Locations
					li
						a(href="#") Privacy
					li
						a(href="#") Terms
			.col-6.col-md
				.form-group
					label(for='exampleFormControlInput1') Email address
					input#exampleFormControlInput1.form-control(type='email', placeholder='Your mail')

